@media (min-width: 992px) {
  .custom-layout {
    display:grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 5fr;
    gap: 1.5rem
  }
}

@media (min-width: 992px) {
  .custom-sidebar {
    position:-webkit-sticky;
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 6rem);
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto;
  }
}

@media (max-width: 991.98px) {
  .custom-sidebar .offcanvas-lg {
    border-right-color: var(--bs-border-color);
    box-shadow: var(--bs-box-shadow-lg)
  }
}
.custom-links-heading {
  color: var(--bs-emphasis-color)
}
 
@media (max-width: 991.98px) {
  .custom-links-nav {
    font-size: .875rem
  }
}

@media (max-width: 991.98px) {
  .custom-links-nav {
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem
  }
  .custom-links-nav .custom-links-group {
    -moz-column-break-inside: avoid;
    break-inside: avoid
  }
  .custom-links-nav .custom-links-span-all {
    -moz-column-span: all;
    column-span: all
  }
}

.custom-links-link {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.125rem;
  color: var(--bs-body-color);
  text-decoration: none
}
 
.custom-links-link:hover,
.custom-links-link:focus,
.custom-links-link.active {
  color: var(--bs-emphasis-color);
  background-color: var(--bs-tertiary-bg)
}
 
.custom-links-link.active {
    font-weight: 600
}

.custom-sidebar {grid-area: sidebar}
.custom-toggle::after {content: none}
.custom-dropdown {
  --bs-dropdown-min-width: 12rem;
  --bs-dropdown-padding-x: .25rem;
  --bs-dropdown-padding-y: .25rem;
  --bs-dropdown-link-hover-bg: rgba(var(--bs-primary-rgb), .1);
  --bs-dropdown-link-active-bg: rgba(var(--bs-primary-rgb), 1);
  --bs-dropdown-font-size: .875rem;
  font-size: .875rem;
  border-radius: .5rem;
  box-shadow: var(--bs-box-shadow)
}

.custom-dropdown li+li {margin-top: .125rem}
.custom-dropdown .dropdown-item {border-radius: .25rem}
.custom-dropdown .dropdown-item:active .bi {color: inherit !important}
.custom-dropdown .active {font-weight: 600}
.custom-dropdown .active .bi {display: block !important}
.dropdown-menu-end {--bs-dropdown-min-width: 8rem}

.custom-main {
    grid-area: main
}

@media (max-width: 991.98px) {
    .custom-main {
        max-width:760px;
        margin-inline:auto}
}

@media (min-width: 768px) {
    .custom-main {
        display:grid;
        grid-template-areas: "intro" "toc" "content";
        grid-template-rows: auto auto 1fr;
        gap: inherit
    }
}

@media (min-width: 992px) {
    .custom-main {
        grid-template-areas:"intro   toc" "content toc";
        grid-template-rows: auto 1fr;
        grid-template-columns: 4fr 1fr
    }
}

.custom-content {
    grid-area: content;
    min-width: 1px
}

.custom-content>.table,.custom-content>.table-responsive .table {
    --bs-table-border-color: var(--bs-border-color);
    max-width: 100%;
    margin-bottom: 1.5rem;
    font-size: .875rem
}

@media (max-width: 991.98px) {
    .custom-content>.table.table-bordered,.bd-content>.table-responsive .table.table-bordered {
        border:0
    }
}

.custom-content>.table thead,.bd-content>.table-responsive .table thead {
    border-bottom: 2px solid currentcolor
}

.custom-content>.table tbody:not(:first-child),.custom-content>.table-responsive .table tbody:not(:first-child) {
    border-top: 2px solid currentcolor
}

.custom-content>.table th:first-child,.custom-content>.table td:first-child,.custom-content>.table-responsive .table th:first-child,.custom-content>.table-responsive .table td:first-child {
    padding-left: 0
}

.custom-content>.table th:not(:last-child),.custom-content>.table td:not(:last-child),.custom-content>.table-responsive .table th:not(:last-child),.custom-content>.table-responsive .table td:not(:last-child) {
    padding-right: 1.5rem
}

.custom-content>.table th,.custom-content>.table-responsive .table th {
    color: var(--bs-emphasis-color)
}

.custom-content>.table strong,.custom-content>.table-responsive .table strong {
    color: var(--bs-emphasis-color)
}

.custom-content>.table th,.custom-content>.table td:first-child>code,.custom-content>.table-responsive .table th,.custom-content>.table-responsive .table td:first-child>code {
    white-space: nowrap
}