{% extends 'base.htm' %}
{% block title %}Automatic{% endblock %}
{% block container %}
        <div class="toolbar mb-5">
          <div class=" container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap" style="align-items: center; justify-content: space-between">
            <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
              <h1 class="mb-1 fw-bold fs-4">Automatic Device Test</h1>
              <ul class="breadcrumb fw-semibold fs-base my-1">
                <li class="breadcrumb-item text-secondary">
                  <a href="{{ url_for('index') }}" class="text-secondary text-hover-primary" style="text-decoration: none">Home</a>
                </li>
                <li class="breadcrumb-item text-muted">Test</li>
                <li class="breadcrumb-item text-emphasis">Automatic</li>
              </ul>
            </div>
            <div class="d-flex align-items-center flex-nowrap text-nowrap py-1">
              <button type="reset" form="evaluate" class="btn btn-secondary icon-link me-2">
                <svg class="bi">
                  <!--
                  <use href="{{ url_for('static', filename='bootstrap-icons.svg') }}#eraser-fill">
                  -->
                  <use href="{{ url_for('static', filename='keen-icons.svg') }}#eraser">
                </svg>
                Clear
              </button>
              <button type="submit" form="evaluate" class="btn btn-primary icon-link" id="run">
                <svg class="bi">
                  <use href="{{ url_for('static', filename='bootstrap-icons.svg') }}#play-fill">
                </svg>
                Run
              </button>
            </div>
          </div>
        </div>
        <div class="container-xl p-3 rounded-3 bg-body-tertiary mb-5">
          <div class="row g-3">
            <div class="col-xl-4">
              <div class="card bg-body shadow-sm border-0 mb-3">
                <div class="card-body">
                  <form id="evaluate" class="row g-3" onsubmit="return send(event)" method="post">
                    <div class="col-12">
                      <label for="uut" class="form-label fw-semibold text-secondary">Unit Under Test (UUT)</label>
                      <input name="uut" type="text" class="form-control" id="uut" autocomplete="off" autofocus required>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card bg-body shadow-sm border-0 mb-3">
                <div class="card-body p-3">
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <span class="fw-semibold text-secondary"><small>Test Status</small></span>
                    <span id="state"></span>
                  </div>
                </div>
              </div>
              <div class="card bg-body shadow-sm border-0">
                <div class="card-body p-3">
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <span class="fw-semibold text-secondary"><small>GTIN</small></span>
                    <span><code id="global_trade_item_number"></code></span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-1">
	                <span class="fw-semibold text-secondary"><small>Manufacture Date</small></span>
                    <span id="manufacture_date"></span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <span class="fw-semibold text-secondary"><small>Serial Number</small></span>
                    <span id="serial_number"></span>
                  </div>
                  <hr class="border border-body">
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <span class="fw-semibold text-secondary"><small>Part Name</small></span>
                    <span id="part_name"></span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <span class="fw-semibold text-secondary"><small>Part Number</small></span>
                    <span id="part_number"></span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <span class="fw-semibold text-secondary"><small>Revision</small></span>
                    <span id="revision"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="card bg-body shadow-sm border-0 mb-3" style="height: 100%">
                <div class="card-header bg-body p-3 d-flex justify-content-between align-items-center" style="border-bottom: 1px solid var(--bs-tertiary-bg)">
                  <h5 class="card-title m-0">Measurements</h5>
                </div>
                <div class="card-body p-3">
                  <div class="table-responsive">
                    <table class="table table-borderless">
                      <thead>
                        <th scope="col" class="w-100">Name</th>
                        <th scope="col">Value</th>
                        <th scope="col">Units</th>
                        <th scope="col">Outcome</th>
                      </thead>
                      <tbody id="detail"></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          const ws = new WebSocket(`ws://${location.host}/automatic/ws`);

          ws.addEventListener('message', function (event) {
            const message = JSON.parse(event.data);
            const procedure = message[0];
            const state = message[1];
            document.getElementById("global_trade_item_number").textContent = procedure["unit_under_test"]["global_trade_item_number"];
            document.getElementById("manufacture_date").textContent = procedure["unit_under_test"]["manufacture_date"];
            document.getElementById("serial_number").textContent = procedure["unit_under_test"]["serial_number"];
            document.getElementById("part_number").textContent = procedure["unit_under_test"]["part_number"];
            document.getElementById("revision").textContent = procedure["unit_under_test"]["revision"];
            document.getElementById("part_name").textContent = procedure["unit_under_test"]["part_name"];
            document.getElementById("detail").innerHTML = "";
            if (procedure["phases"].length > 0) {
              procedure["phases"].forEach((phase) => {
                if (phase["measurements"].length > 0) {
                  phase["measurements"].forEach((measurement) => {
                    var html = "";
                    html += `<tr>`;
                    html += `<td scope="row" class="w-100 text-nowrap">${measurement['name']}</td>`;
                    html += `<td>${measurement['measured_value']}</td>`;
                    html += `<td>${measurement['units']}</td>`;
                    html += `<td><span id="${measurement['name']}">${measurement['outcome']}</span></td>`;
                    html += `</tr>`;
                    document.getElementById("detail").innerHTML += html;
                    setBadge(measurement['name'], measurement['outcome']);
                  });
                }
              });
            }
            setBadge("state", state);
          });
          
          function setBadge(name, value) { 
            var badge = document.getElementById(name);
            badge.textContent = value;
            switch(value) {
              case "PASS":
                badge.className = "badge text-bg-success";
                break;
              case "FAIL":
                badge.className = "badge text-bg-danger";
                break;
              case "ERROR":
                badge.className = "badge text-bg-warning";
                break;
              default:
                badge.className = "badge text-bg-light";
            }
          }
          
          function send(event) {
            const message = (new FormData(event.target)).get("uut");
            if (message) {
              ws.send(message);
            }
            event.target.reset();
            return false;
          }
        </script> 
{% endblock %}
