{% extends 'base.htm' %}
{% block title %}Automatic{% endblock %}
{% block container %}
        <div class="toolbar mb-5">
          <div class=" container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap" style="align-items: center; justify-content: space-between">
            <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
              <h1 class="mb-1 fw-bold fs-4">Automatic Device Test</h1>
              <ul class="breadcrumb fw-semibold fs-base my-1">
                <li class="breadcrumb-item text-secondary">
                  <a href="{{ url_for('home') }}" class="text-secondary text-hover-primary" style="text-decoration: none">Home</a>
                </li>
                <li class="breadcrumb-item text-muted">Mode</li>
                <li class="breadcrumb-item text-emphasis">Automatic</li>
              </ul>
            </div>
            <div class="d-flex align-items-center flex-nowrap text-nowrap py-1">
              <button type="reset" form="evaluate" class="btn btn-secondary icon-link me-2">
                <svg class="bi">
                  <use href="{{ url_for('static', filename='keen-icons.svg') }}#eraser">
                </svg>
                Clear
              </button>
              <button type="submit" form="evaluate" class="btn btn-primary icon-link" id="run">
                <svg class="bi">
                  <use href="{{ url_for('static', filename='keen-icons.svg') }}#rocket">
                </svg>
                Run
              </button>
            </div>
          </div>
        </div>
        <div class="container-xl p-3 rounded-3 bg-body-tertiary mb-5">
          <div class="row g-3">
            <div class="col-xl-4">
              <div class="card bg-body shadow-sm border-0 mb-3">
                <div class="card-body">
                  <form id="evaluate" onsubmit="return send(event)" method="post">
                    <div class="form-floating mb-3">
                      <select name="procedure_id" class="form-select" required>
                        {% for procedure in procedures %}
                        <option value={{ procedure.id }}>{{ procedure.name }}</option>
                        {% endfor %}
                      </select>
                      <label for="procedure_id">Procedure</label>
                    </div>
                    <div>
                      <label for="label" class="col-form-label">Serial Label</label>
                      <input name="label" type="text" class="form-control" id="label" autocomplete="off" autofocus required>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card bg-body shadow-sm border-0 mb-3">
                <div class="card-body p-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="fw-semibold text-secondary"><small>Test Status</small></span>
                    <span id="state"></span>
                  </div>
                </div>
              </div>
              <div class="card bg-body shadow-sm border-0">
                <div class="card-body p-3">
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <span class="fw-semibold text-secondary"><small>GTIN</small></span>
                    <span><code id="global_trade_item_number"></code></span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <span class="fw-semibold text-secondary"><small>Serial Number</small></span>
                    <span><code id="serial_number"></code></span>
                  </div>
                  <hr class="border border-body">
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <span class="fw-semibold text-secondary"><small>Part Name</small></span>
                    <span id="part_name"></span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <span class="fw-semibold text-secondary"><small>Part Number</small></span>
                    <span id="part_number"></span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-1">
                    <span class="fw-semibold text-secondary"><small>Revision</small></span>
                    <span id="revision"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="card bg-body shadow-sm border-0 mb-3" style="height: 100%">
                <div class="card-header bg-body p-3 d-flex justify-content-between align-items-center border-0">
                  <h5 class="card-title m-0">Results</h5>
                </div>
                <div id="accordion" class="accordion accordion-flush"></div>	
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          const accordion = document.getElementById("accordion");
          const websocket = new WebSocket(`ws://${location.host}/automatic/ws`);
 
          websocket.addEventListener('message', function (event) {
            const message = JSON.parse(event.data);
            const procedure = message[0];
            document.getElementById("global_trade_item_number").textContent = procedure.unit_under_test.global_trade_item_number;
            document.getElementById("serial_number").textContent = procedure.unit_under_test.serial_number;
            document.getElementById("part_number").textContent = procedure.unit_under_test.part_number;
            document.getElementById("revision").textContent = procedure.unit_under_test.revision;
            document.getElementById("part_name").textContent = procedure.unit_under_test.part_name;
            document.getElementById("state").textContent = message[1];
            document.getElementById("state").className = `badge text-bg-${setBadgeColor(message[1])}`;
            updatePhases(procedure.phases);
          });
          
          websocket.addEventListener("open", function (event) {
            console.log("Websocket connected.");
          });
          
          websocket.addEventListener("close", function (event) {
            console.log("Websocket disconnected.");
          });
          
          function updatePhases(phases) {
            accordion.innerHTML = "";
            phases.forEach((phase, index) => {
              const phaseId = `phase-${index}`;
              const phaseHTML = `
                <div class="accordion-item custom-accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button custom-accordion-button bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-${phaseId}">
                      <small>${phase.name}</small>
                    </button>
                  </h2>
                  <div id="collapse-${phaseId}" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                    ${phase.measurements.length < 1 ? "No measurements" : phase.measurements.map(measurement => `
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <span>${measurement.name}: ${measurement.measured_value}${measurement.units}</span>
                        <span class="badge text-bg-${setBadgeColor(measurement.outcome)}">${measurement.outcome}</span>
                      </div>
                    `).join("")}
                    </div>
                  </div>
                </div>
              `;
              accordion.insertAdjacentHTML("beforeend", phaseHTML);
            });
          }
          
          function setBadgeColor(value) {
            var color = "";
            switch(value) {
              case "PASS":
                color = "success";
                break;
              case "FAIL":
                color = "danger";
                break;
              case "ERROR":
                color = "warning";
                break;
              default:
                color = "light";
            }
            return color;
          }

          function send(event) {
            const formData = new FormData(event.target);
            const data = {};
            formData.forEach((value, key) => {
              data[key] = value;
            });
            const jsonString = JSON.stringify(data);
            websocket.send(jsonString);
            event.target.reset();
            return false;
          }
        </script> 
{% endblock %}
