<!doctype html>
<html lang="en"">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Michael Czigler">
    <meta name="description" content="Lightweight hardware test framework">
    <title>{% block title %}{% endblock %} · OpenHTI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" rel="stylesheet">
  </head>
  <body>
    <header class="navbar navbar-expand-lg sticky-top bg-body-tertiary" style="padding: .75rem 0">
      <nav class="container-xxl flex-wrap flex-lg-nowrap" style="--bs-gutter-x: 3rem" aria-label="Main navigation">
        <button class="navbar-toggler p-2" style="border: 0; padding: 0; margin-right: -.5rem" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar" aria-controls="bdSidebar" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" class="bi" fill="currentColor" viewBox="0 0 16 16">
            <use xlink:href="{{ url_for('static', filename='keen-icons.svg') }}#burger-menu-4"></use>
          </svg>
        </button>
        <a class="navbar-brand p-0 me-0 me-lg-2" href="{{ url_for('home') }}" aria-label="OpenHTI">
          <svg class="bi" width="2rem" height="2rem" fill="var(--bs-primary)">
            <use href="{{ url_for('static', filename='keen-icons.svg') }}#abstract-48">
          </svg>
          OpenHTI
        </a>
        <div class="d-flex">
          {% if session["unlocked"] %}
          <a class="btn icon-link" href="{{ url_for('authorize.logout') }}">
            <svg class="bi">
              <use href="{{ url_for('static', filename='keen-icons.svg') }}#shield-slash">
            </svg>
          </a>
          {% else %}
          <a class="btn icon-link" href="{{ url_for('authorize.login') }}">
            <svg class="bi">
              <use href="{{ url_for('static', filename='keen-icons.svg') }}#shield-tick">
            </svg>
          </a>
          {% endif %}
          <div class="dropdown">
            <button class="btn icon-link" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle Theme">
              <svg class="bi theme-icon-active">
                <use href="{{ url_for('static', filename='keen-icons.svg') }}#night-day">
              </svg>
              <span class="visually-hidden" id="bd-theme-text">Theme</span>
            </button>
            <ul class="dropdown-menu custom-dropdown dropdown-menu-end" aria-labelledby="bd-theme-text">
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
                  <svg class="bi me-2 opacity-50" width="1em" height="1em" fill="currentColor">
                    <use href="{{ url_for('static', filename='keen-icons.svg') }}#sun"></use>
                  </svg>
                  Light
                  <svg class="bi ms-auto d-none" width="1em" height="1em" fill="currentColor">
                    <use href="{{ url_for('static', filename='keen-icons.svg') }}#check">
                  </svg>
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                  <svg class="bi me-2 opacity-50" width="1em" height="1em" fill="currentColor">
                    <use href="{{ url_for('static', filename='keen-icons.svg') }}#moon">
                  </svg>
                  Dark
                  <svg class="bi ms-auto d-none" width="1em" height="1em" fill="currentColor">
                    <use href="{{ url_for('static', filename='keen-icons.svg') }}#check">
                  </svg>
                </button>
              </li>
              <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto">
                  <svg class="bi me-2 opacity-50" width="1em" height="1em" fill="currentColor">
                    <use href="{{ url_for('static', filename='keen-icons.svg') }}#night-day"></use>
                  </svg>
                  Auto
                  <svg class="bi ms-auto d-none" width="1em" height="1em" fill="currentColor">
                    <use href="{{ url_for('static', filename='keen-icons.svg') }}#check">
                  </svg>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-xxl mt-3 my-md-4 custom-layout" style="--bs-gutter-x: 3rem">
      <aside class="custom-sidebar">
        <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar" aria-labelledby="bdSidebarOffcanvasLabel">
          <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Navigation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdSidebar">
          </div>
          <div class="offcanvas-body">
            <nav class="custom-links w-100" aria-label="Navigation">
              <ul class="custom-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
                <li class="custom-links-group py-2">
                  <strong class="custom-links-heading d-flex w-100 align-items-center fw-semibold">
                    <svg class="bi me-2" fill="var(--bs-primary)" width="1em" height="1em">
                      <use href="{{ url_for('static', filename='keen-icons.svg') }}#abstract-26"></use>
                    </svg>
                    Mode
                  </strong>
                  <ul class="list-unstyled fw-normal pb-2 small">
                    <li><a class="custom-links-link d-inline-block rounded{% if request.url_rule.endpoint == 'home' %} active{% endif %}" href="{{ url_for('home') }}">Select</a></li>
                    <li><a class="custom-links-link d-inline-block rounded{% if request.url_rule.endpoint == 'automatic.read' %} active{% endif %}" href="{{ url_for('automatic.read') }}">Automatic</a></li>
                    <li><a class="custom-links-link d-inline-block rounded{% if request.url_rule.endpoint == 'manual.read' %} active{% endif %}" href="{{ url_for('manual.read') }}">Manual</a></li>
                  </ul>
                </li>
                <li class="custom-links-group py-2">
                  <strong class="custom-links-heading d-flex w-100 align-items-center fw-semibold">
                    <svg class="bi me-2" fill="var(--bs-primary)" width="1em" height="1em">
                      <use href="{{ url_for('static', filename='keen-icons.svg') }}#setting-4"></use>
                    </svg>
                    Manage
                  </strong>
                  <ul class="list-unstyled fw-normal pb-2 small">
                    {% if session["unlocked"] %}
                    <li><a class="custom-links-link d-inline-block rounded{% if request.url_rule.endpoint == 'command.read' %} active{% endif %}" href="{{ url_for('command.read') }}">Commands</a></li>
                    <li><a class="custom-links-link d-inline-block rounded{% if request.url_rule.endpoint == 'instrument.read' %} active{% endif %}" href="{{ url_for('instrument.read') }}">Instruments</a></li>
                    <li><a class="custom-links-link d-inline-block rounded{% if request.url_rule.endpoint == 'measurement.read' %} active{% endif %}" href="{{ url_for('measurement.read') }}">Measurements</a></li>
                    <li><a class="custom-links-link d-inline-block rounded{% if request.url_rule.endpoint == 'part.read' %} active{% endif %}" href="{{ url_for('part.read') }}">Parts</a></li>
                    <li><a class="custom-links-link d-inline-block rounded{% if request.url_rule.endpoint == 'phase.read' %} active{% endif %}" href="{{ url_for('phase.read') }}">Phases</a></li>
                    <li><a class="custom-links-link d-inline-block rounded{% if request.url_rule.endpoint == 'procedure.read' %} active{% endif %}" href="{{ url_for('procedure.read') }}">Procedures</a></li>
                    <li><a class="custom-links-link d-inline-block rounded{% if request.url_rule.endpoint == 'recipe.read' %} active{% endif %}" href="{{ url_for('recipe.read') }}">Recipes</a></li>
                    <li><a class="custom-links-link d-inline-block rounded{% if request.url_rule.endpoint == 'setting.read' %} active{% endif %}" href="{{ url_for('setting.read') }}">Settings</a></li>
                    <li><a class="custom-links-link d-inline-block rounded" href="{{ url_for('authorize.logout') }}">Logout</a></li>
                    {% else %}
                    <li><a class="custom-links-link d-inline-block rounded" href="{{ url_for('authorize.login') }}">Login</a></li>
                    {% endif %} 
                  </ul>
                </li>
                <li class="custom-links-span-all mt-1 mb-3 mx-4 border-top"></li>
                <li class="custom-links-span-all">
                    <span class="custom-links-link d-inline-block rounded small">v{{version}}</span>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </aside>
      <main class="order-1 custom-main">
        <div class="custom-content">
        {% block container %}{% endblock %}
        </div>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> 
    <script src="{{ url_for('static', filename='color-modes.js') }}"></script>
  </body>
</html>
