{% extends 'base.htm' %}
{% block title %}Home{% endblock %}
{% block container %}
        <div class="toolbar mb-5">
          <div class=" container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap" style="align-items: center; justify-content: space-between">
            <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
              <h1 class="mb-1 fw-bold fs-4">Test Mode Select</h1>
            </div>
          </div>
        </div>
        <div class="container-xl p-3 rounded-3 bg-body-tertiary mb-5">
          <div class="card bg-body shadow-sm border-0">
            <div class="card-body">
            </div>
          </div>
          <div class="card bg-body shadow-sm border-0">
             <div class="card-body">
            </div>
          </div>
        </div>
{% endblock %}
