{% extends 'base.htm' %}
{% block title %}Home{% endblock %}
{% block container %}
        <div class="toolbar mb-5">
          <div class=" container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap" style="align-items: center; justify-content: space-between">
            <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
              <h1 class="mb-1 fw-bold fs-4">Mode Select</h1>
              <ul class="breadcrumb fw-semibold fs-base my-1">
                <li class="breadcrumb-item text-secondary">
                  <a href="{{ url_for('home') }}" class="text-secondary text-hover-primary" style="text-decoration: none">Home</a>
                  <li class="breadcrumb-item text-emphasis">Select</li>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-xl p-3 rounded-3 bg-body-tertiary mb-5">
          <div class="card bg-body shadow-sm border-0 mb-3">
            <div class="card-body">
              <h5 class="card-title">Automatic</h5>
              <p class="card-text">
                Automatically run a set of pre-defined test recipes. You only need to scan or type the device's serial label, and the tests will run without further input. Recommended for routine testing (i.e. production devices).
              </p>
              <a href="{{ url_for('automatic.read') }}" class="btn btn-primary icon-link">
                Start Automatic Testing
                <svg class="bi">
                  <use href="{{ url_for('static', filename="keen-icons.svg") }}#arrow-right">
                </svg>
              </a>
            </div>
          </div>
          <div class="card bg-body shadow-sm border-0">
            <div class="card-body">
              <h5 class="card-title">Manual</h5>
              <p class="card-text">
                Select and run individual test recipes one by one. This option does not require a serial label and is ideal for troubleshooting or verifying specific recipes.
              </p>
              <a href="{{ url_for('manual.read') }}" class="btn btn-warning icon-link">
                Start Manual Testing
                <svg class="bi">
                  <use href="{{ url_for('static', filename="keen-icons.svg") }}#arrow-right">
                </svg>
              </a>
            </div>
          </div>
        </div>
{% endblock %}
