{% extends 'base.htm' %}
{% block title %}Home{% endblock %}
{% block container %}
        <div class="toolbar mb-5">
          <div class=" container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap" style="align-items: center; justify-content: space-between">
            <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
              <h1 class="mb-1 fw-bold fs-4">Test Device</h1>
              <ul class="breadcrumb fw-semibold fs-base my-1">
                <li class="breadcrumb-item text-muted">
                  <a href="{{ url_for('index') }}" class="text-muted text-hover-primary" style="text-decoration: none">Home</a>
                </li>
                <li class="breadcrumb-item text-emphasis">Test</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-xl p-3 rounded-3 bg-body-tertiary mb-5">
          <div class="row g-3">
            <div class="col-xl-4">
              <div class="card bg-body shadow-sm border-0">
                <div class="card-header bg-body p-3 d-flex justify-content-between align-items-center" style="border-bottom: 1px solid var(--bs-tertiary-bg)">
                  <h5 class="card-title m-0">User Input</h5>
                  <button type="submit" form="evaluate" class="btn btn-sm btn-primary icon-link">
                    <svg class="bi theme-icon-active">
                      <use href="{{ url_for('static', filename='bootstrap-icons.svg') }}#play-fill">
                    </svg>
                    Run
                  </button>
                </div>
                <div class="card-body">
                  <form id="evaluate" class="row g-3" onsubmit="return send(event)" method="post">
                    <div class="col-12">
                      <label for="udi" class="form-label fw-semibold text-muted">UUT Barcode</label>
                      <input name="udi" type="text" class="form-control" id="udi" required>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="card bg-body shadow-sm border-0 mb-3">
                <div class="card-body p-3">
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="text-muted fw-semibold">
                      <small>Evaluation Summary</small>
                    </span>
                    <span id="outcome" class="badge text-upper text-bg-secondary">Not Evaluated</span>  
                  </div>
                </div>
              </div>
              <div class="card bg-body shadow-sm border-0">
                <div class="card-body p-3">
                  <h5 class="card-title">Details</h5>
                  <samp id="result-log" style="min-height: 300px">
                    No Data
                  </samp>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          const ws = new WebSocket(`ws://${location.host}/ws`);
          
          ws.addEventListener('message', function (event) {
            const data = JSON.parse(event.data);
            console.log(data)
            document.getElementById("outcome").classList.remove('text-bg-secondary'); 
            document.getElementById("outcome").classList.add('text-bg-success');
            document.getElementById("outcome").textContent = data["outcome"]; 
          });
          
          function send(event) {
            const message = (new FormData(event.target)).get("udi");
            if (message) {
              ws.send(message);
            }
            event.target.reset();
            return false;
          }
        </script> 
{% endblock %}
