{% extends 'base.htm' %}
{% block title %}Home{% endblock %}
{% block container %}
        <div class="toolbar mb-5">
          <div class=" container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap" style="align-items: center; justify-content: space-between">
            <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
              <h1 class="mb-1 fw-bold fs-4">Test Device</h1>
              <ul class="breadcrumb fw-semibold fs-base my-1">
                <li class="breadcrumb-item text-secondary">
                  <a href="{{ url_for('index') }}" class="text-secondary text-hover-primary" style="text-decoration: none">Home</a>
                </li>
		<li class="breadcrumb-item text-emphasis">Test</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-xl p-3 rounded-3 bg-body-tertiary mb-5">
          <div class="row g-3">
            <div class="col-xl-4">
              <div class="card bg-body shadow-sm border-0">
                <div class="card-header bg-body p-3 d-flex justify-content-between align-items-center" style="border-bottom: 1px solid var(--bs-tertiary-bg)">
                  <h5 class="card-title m-0">User Input</h5>
                  <button type="submit" form="evaluate" class="btn btn-sm btn-primary icon-link">
                    <svg class="bi theme-icon-active">
                      <use href="{{ url_for('static', filename='bootstrap-icons.svg') }}#play-fill">
                    </svg>
                    Run
                  </button>
                </div>
                <div class="card-body">
                  <form id="evaluate" class="row g-3" onsubmit="return send(event)" method="post">
                    <div class="col-12">
                      <label for="udi" class="form-label fw-semibold text-secondary">UUT Barcode</label>
                      <input name="udi" type="text" class="form-control" id="udi" required>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="card bg-body shadow-sm border-0 mb-3">
		<div class="card-body p-3">
		  <div class="d-flex justify-content-between align-items-center mb-1">
		    <span class="fw-semibold text-secondary"><small>Global Trade Item Number (GTIN)</small></span>
                    <span id="global_trade_item_number"></span>
	          </div>
		  <div class="d-flex justify-content-between align-items-center mb-1">
		    <span class="fw-semibold text-secondary"><small>Manufacture Date (YYMMDD) </small></span>
                    <span id="manufacture_date"></span>
	          </div>
		  <div class="d-flex justify-content-between align-items-center mb-1">
		    <span class="fw-semibold text-secondary"><small>Serial Number</small></span>
                    <span id="serial_number"></span>
	          </div>
		  <div class="d-flex justify-content-between align-items-center mb-1">
		    <span class="fw-semibold text-secondary"><small>Part Number</small></span>
                    <span id="part_number"></span>
	          </div>
		  <div class="d-flex justify-content-between align-items-center mb-1">
		    <span class="fw-semibold text-secondary"><small>Part Description</small></span>
                    <span id="part_description"></span>
	          </div>
		  <hr class="border border-body">
		  <div class="d-flex justify-content-between align-items-center mb-1">
		    <span class="fw-semibold text-secondary"><small>Setup</small></span>
                    <span id="setup_outcome"></span>
	          </div>
		  <div class="d-flex justify-content-between align-items-center mb-1">
		    <span class="fw-semibold text-secondary"><small>Preamp Current</small></span>
                    <span id="measure_preamp_current_outcome"></span>
	          </div>
		  <div class="d-flex justify-content-between align-items-center mb-1">
		    <span class="fw-semibold text-secondary"><small>Bias Voltage</small></span>
                    <span id="measure_bias_voltage_outcome"></span>
	          </div>
		  <div class="d-flex justify-content-between align-items-center mb-1">
		    <span class="fw-semibold text-secondary"><small>Teardown</small></span>
                    <span id="teardown_outcome"></span>
	          </div>
                </div>
              </div>
              <div class="card bg-body shadow-sm border-0">
                <div class="card-body p-3">
                  <h5 class="card-title">Details</h5>
                  <samp id="console" style="min-height: 300px">
                    Scan and press Run.
                  </samp>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          const ws = new WebSocket(`ws://${location.host}/ws`);
          
          ws.addEventListener('message', function (event) {
            const data = JSON.parse(event.data);
            document.getElementById("global_trade_item_number").textContent = data["global_trade_item_number"];
            document.getElementById("manufacture_date").textContent = data["manufacture_date"];
            document.getElementById("serial_number").textContent = data["serial_number"];
            document.getElementById("part_number").textContent = data["part_number"];
            document.getElementById("part_description").textContent = data["part_description"];
            //document.getElementById("setup_outcome").textContent = data["setup_outcome"];
            //document.getElementById("teardown_outcome").textContent = data["teardown_outcome"];
            setter("setup_outcome", data["setup_outcome"]);
            setter("teardown_outcome", data["teardown_outcome"]);
            document.getElementById("console").textContent = data["console"];
            
          });
          
          function setter(name, value) {
            document.getElementById(name).textContent = value;
            if (value === "PASS") {
              document.getElementById(name).className = "badge text-bg-success";
            } else if (value === "FAIL") {
              document.getElementById(name).className = "badge text-bg-danger";
            } else {
              document.getElementById(name).className = "badge text-bg-info";
            }
          }
          
          function send(event) {
            const message = (new FormData(event.target)).get("udi");
            if (message) {
              ws.send(message);
            }
            event.target.reset();
            return false;
          }
        </script> 
{% endblock %}
