{% extends 'base.htm' %}
{% block title %}Parts{% endblock %}
{% block container %}
        <div class="toolbar mb-5">
          <div class=" container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap" style="align-items: center; justify-content: space-between">
            <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
              <h1 class="mb-1 fw-bold fs-4">Part Management</h1>
              <ul class="breadcrumb fw-semibold fs-base my-1">
                <li class="breadcrumb-item text-secondary">
                  <a href="{{ url_for('index') }}" class="text-secondary text-hover-primary" style="text-decoration: none">Home</a>
                </li>
                <li class="breadcrumb-item text-muted">Parts</li>
                <li class="breadcrumb-item text-emphasis">Manage</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-xl p-3 rounded-3 bg-body-tertiary mb-5">
          <div class="card bg-body shadow-sm border-0">
            <div class="card-header bg-body border-0 p-3 d-flex justify-content-between align-items-center">
              <h5 class="card-title m-0">Parts</h5>
              <div class="d-flex">
                <button class="btn btn-secondary icon-link me-2" form="delete">
                  <svg class="bi">
                    <use href="{{ url_for('static', filename='bootstrap-icons.svg') }}#trash">
                  </svg>
                  Delete
                </button>
                <button class="btn btn-primary icon-link" data-bs-toggle="modal" data-bs-target="#createPartModal">
                  <svg class="bi">
                    <use href="{{ url_for('static', filename='bootstrap-icons.svg') }}#plus">
                  </svg>
                  New
                </button>
              </div>
            </div>
            <div class="card-body">
              <form id="delete" action="{{ url_for('.delete') }}" method="post">
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col"><input class="form-check-input" type="checkbox" onClick="selectAll(this)" /></th>
                        <th scope="col" class="text-nowrap">Part Number</th>
                        <th scope="col" class="w-100">Description</th>
                        <th scope="col" class="text-nowrap">GTIN</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for part in parts %}
                      <tr>
                        <td scope="row"><input class="form-check-input" type="checkbox" name="part_id" value="{{ part.id }}" /></td>
                        <td>{{ part.part_number }}</td>
                        <td class="text-nowrap">{{ part.part_description }}</td>
                        <td><code>{{ part.global_trade_item_number }}</code></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal fade" id="createPartModal" tabindex="-1" aria-labelledby="createPartModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="createPartModalLabel">Create Part</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="create" action="{{ url_for('.create') }}" method="post">
                  <div class="mb-3">
                    <label for="global_trade_item_number" class="col-form-label">Global Trade Item Number (GTIN)</label>
                    <input type="text" class="form-control" id="global_trade_item_number" name="global_trade_item_number" required>
                  </div>
                  <div class="mb-3">
                    <label for="part_number" class="col-form-label">Part Number</label>
                    <input type="text" class="form-control" id="part_number" name="part_number" required>
                  </div>
                  <div class="mb-3">
                    <label for="part_description" class="col-form-label">Part Description</label>
                    <input type="text" class="form-control" id="part_description" name="part_description" required>
                  </div>
                </form>
              </div>
              <div class="modal-footer border-0">
                <button type="reset" form="create" class="btn btn-secondary">Clear</button>
                <button type="submit" form="create" class="btn btn-primary">Create</button>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
        function selectAll(source) {
          checkboxes = document.getElementsByName('part_id');
          for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
          }
        }
        </script>
{% endblock %}