{% extends 'base.htm' %}
{% block title %}Recipes{% endblock %}
{% block container %}
        <div class="toolbar mb-5">
          <div class=" container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap" style="align-items: center; justify-content: space-between">
            <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
              <h1 class="mb-1 fw-bold fs-4">Recipe Management</h1>
              <ul class="breadcrumb fw-semibold fs-base my-1">
                <li class="breadcrumb-item text-secondary">
                  <a href="{{ url_for('home') }}" class="text-secondary text-hover-primary" style="text-decoration: none">Home</a>
                </li>
                <li class="breadcrumb-item text-muted">Manage</li>
                <li class="breadcrumb-item text-emphasis">Recipes</li>
              </ul>
            </div>
          </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="container-xl p-3 rounded-3 bg-body-tertiary mb-5">
          <div class="card bg-body shadow-sm border-0">
            <div class="card-header bg-body border-0 p-3 d-flex justify-content-end align-items-center">
              <div class="d-flex">
                <div class="dropdown">
                  <button class="btn btn-secondary btn-sm icon-link me-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if name %}
                    {{ name }}
                    {% else %}
                    <svg class="bi">
                      <use href="{{ url_for('static', filename='keen-icons.svg') }}#filter">
                    </svg>
                    Filter
                    {% endif %}
                  </button>
                  <ul class="dropdown-menu custom-dropdown">
                    <li><a class="dropdown-item" href="{{ url_for('.read') }}">Clear Filter</a></li>
                    {% for part in parts %}
                    <li><a class="dropdown-item{% if name == part.name %} active{% endif %}" href="{{ url_for('.read', name=part.name) }}">{{ part.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
                <button class="btn btn-secondary btn-sm icon-link me-2" form="delete">
                  <svg class="bi">
                    <use href="{{ url_for('static', filename='keen-icons.svg') }}#trush">
                  </svg>
                  Delete
                </button>
                <button class="btn btn-primary btn-sm icon-link" data-bs-toggle="modal" data-bs-target="#createModal">
                  <svg class="bi">
                    <use href="{{ url_for('static', filename='keen-icons.svg') }}#plus">
                  </svg>
                  New
                </button>
              </div>
            </div>
            <div class="card-body">
              <form id="delete" action="{{ url_for('.delete') }}" method="post">
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col"><input class="form-check-input" type="checkbox" onClick="selectAll(this)" /></th>
                        <th scope="col">Procedure</th>
                        <th scope="col">Part</th>
                        <th scope="col">Phase</th>
                        <th scope="col">Instrument</th>
                        <th scope="col">Command</th>
                        <th scope="col">Measurement</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for recipe in recipes %}
                      <tr>
                        <td scope="row"><input class="form-check-input" type="checkbox" name="recipe_id" value="{{ recipe.id }}" /></td>
                        <td class="text-nowrap">{{ recipe.procedure }}</td>
                        <td class="text-nowrap">{{ recipe.part }}</td>
                        <td class="text-nowrap">{{ recipe.phase }}</td>
                        <td class="text-nowrap">{{ recipe.instrument }}</td>
                        <td class="text-nowrap">{{ recipe.command }}</td>
                        <td class="text-nowrap">{{ recipe.measurement }}</td>
                        <td>
                          <a class="link-secondary icon-link" data-bs-toggle="modal" href="#" data-bs-target="#updateModal" onclick="populateUpdateModal('{{ recipe.id }}', '{{ recipe.procedure_id }}', '{{ recipe.part_id }}', '{{ recipe.phase_id }}', '{{ recipe.instrument_id }}', '{{ recipe.command_id }}', '{{ recipe.measurement_id }}')">
                            <svg class="bi">
                              <use href="{{ url_for('static', filename='keen-icons.svg') }}#pencxil">
                            </svg>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="createModalLabel">Create Recipe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="create" action="{{ url_for('.create') }}" method="post">
                  <div class="form-floating mb-3">
                    <select name="procedure_id" class="form-select" required>
                      <option selected>Choose...</option>
                      {% for procedure in procedures %}
                      <option value={{ procedure.id }}>{{ procedure.name }}</option>
                      {% endfor %}
                    </select>
                    <label for="procedure_id">Procedure</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select name="part_id" class="form-select" required>
                      <option selected>Choose...</option>
                      {% for part in parts %}
                      <option value={{ part.id }}>{{ part.name }}</option>
                      {% endfor %}
                    </select>
                    <label for="part_id">Part</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select name="phase_id" class="form-select" required>
                      <option selected>Choose...</option>
                      {% for phase in phases %}
                      <option value={{ phase.id }}>{{ phase.name }}</option>
                      {% endfor %}
                    </select>
                    <label for="phase_id">Phase</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select name="command_id" class="form-select" required>
                      <option selected>Choose...</option>
                      {% for command in commands %}
                      <option value={{ command.id }}>{{ command.name }}</option>
                      {% endfor %}
                    </select>
                    <label for="command_id">Command</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select name="instrument_id" class="form-select" required>
                      <option selected>Choose...</option>
                      {% for instrument in instruments %}
                      <option value={{ instrument.id }}>{{ instrument.name }}</option>
                      {% endfor %}
                    </select>
                    <label for="instrument_id">Instrument</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select name="measurement_id" class="form-select">
                      <option disabled selected>None</option>
                      {% for measurement in measurements %}
                      <option value={{ measurement.id }}>{{ measurement.name }}</option>
                      {% endfor %}
                    </select>
                    <label for="measurement_id">Measurement (optional)</label>
                  </div>
                </form>
              </div>
              <div class="modal-footer border-0">
                <button type="reset" form="create" class="btn btn-secondary">Clear</button>
                <button type="submit" form="create" class="btn btn-primary">Create</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="updateModalLabel">Update Recipe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="update" action="{{ url_for('.update') }}" method="post">
                  <div class="mb-3">
                    <label for="id" class="col-form-label">ID</label>
                    <input type="number" class="form-control" id="id" name="id" readonly>
                  </div>
                  <div class="form-floating mb-3">
                    <select name="procedure_id" class="form-select" id="procedure_id" required>
                      <option selected>Choose...</option>
                      {% for procedure in procedures %}
                      <option value={{ procedure.id }}>{{ procedure.name }}</option>
                      {% endfor %}
                    </select>
                    <label for="procedure_id">Procedure</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select name="part_id" class="form-select" id="part_id" required>
                      <option selected>Choose...</option>
                      {% for part in parts %}
                      <option value={{ part.id }}>{{ part.name }}</option>
                      {% endfor %}
                    </select>
                    <label for="part_id">Part</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select name="phase_id" class="form-select" id="phase_id" required>
                      <option selected>Choose...</option>
                      {% for phase in phases %}
                      <option value={{ phase.id }}>{{ phase.name }}</option>
                      {% endfor %}
                    </select>
                    <label for="phase_id">Phase</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select name="command_id" class="form-select" id="command_id" required>
                      <option selected>Choose...</option>
                      {% for command in commands %}
                      <option value={{ command.id }}>{{ command.name }}</option>
                      {% endfor %}
                    </select>
                    <label for="command_id">Command</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select name="instrument_id" class="form-select" id="instrument_id" required>
                      <option selected>Choose...</option>
                      {% for instrument in instruments %}
                      <option value={{ instrument.id }}>{{ instrument.name }}</option>
                      {% endfor %}
                    </select>
                    <label for="instrument_id">Instrument</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select name="measurement_id" class="form-select" id="measurement_id">
                      <option disabled selected>None</option>
                      {% for measurement in measurements %}
                      <option value={{ measurement.id }}>{{ measurement.name }}</option>
                      {% endfor %}
                    </select>
                    <label for="measurement_id">Measurement (optional)</label>
                  </div>
                </form>
              </div>
              <div class="modal-footer border-0">
                <button type="submit" form="update" class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          function selectAll(source) {
            checkboxes = document.getElementsByName('recipe_id');
            for(var i=0, n=checkboxes.length;i<n;i++) {
              checkboxes[i].checked = source.checked;
            }
          }
          function populateUpdateModal(id, procedure_id, part_id, phase_id, instrument_id, command_id, measurement_id) {
            document.getElementById("id").value = id;
            document.getElementById("procedure_id").value = procedure_id;
            document.getElementById("part_id").value = part_id;
            document.getElementById("phase_id").value = phase_id;
            document.getElementById("instrument_id").value = instrument_id;
            document.getElementById("command_id").value = command_id;
            document.getElementById("measurement_id").value = measurement_id;
          }
        </script>
{% endblock %}
