{% extends 'base.htm' %}
{% block title %}Home{% endblock %}
{% block container %}
        <div class="toolbar mb-5">
          <div class=" container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap" style="align-items: center; justify-content: space-between">
            <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
              <h1 class="mb-1 fw-bold fs-4">Test</h1>
              <ul class="breadcrumb fw-semibold fs-base my-1">
                <li class="breadcrumb-item text-muted">
                  <a href="{{ url_for('index') }}" class="text-muted text-hover-primary" style="text-decoration: none">Home</a>
                </li>
                <li class="breadcrumb-item text-emphasis">Test</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-xl p-3 rounded-3 bg-body-tertiary mb-5">
          <div class="row g-3">
            <div class="col-xl-4">
              <div class="card bg-body shadow-sm border-0">
                <div class="card-header bg-body p-3 d-flex justify-content-between align-items-center" style="border-bottom: 1px solid var(--bs-tertiary-bg)">
                  <h5 class="card-title m-0">User Input</h5>
                  <button type="submit" form="run" class="btn btn-sm btn-primary icon-link">
                    Evaluate
                    <svg class="bi theme-icon-active">
                      <use href="{{ url_for('static', filename='bootstrap-icons.svg') }}#play-fill">
                    </svg>
                  </button>
                </div>
                <div class="card-body">
                  <form class="row g-3 needs-validation" id="run" action="{{ url_for('index') }}" method="post" novalidate>
                    <div class="col-12">
                      <label for="udi" class="form-label fw-semibold text-muted">Barcode</label>
                      <input name="udi" type="text" class="form-control" id="udi" required>
                      <div class="invalid-feedback">A valid barcode is required.</div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="card bg-body shadow-sm border-0 mb-3">
                <div class="card-body p-3">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <span>Evaluation Summary</span>
                    <span id="result" class="badge text-bg-info">Not Evaluated</span>  
                  </div>
                  <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
                  </div> 
                </div>
              </div>
              <div class="card bg-body shadow-sm border-0" style="min-height: 300px">
                <div class="card-body p-3">
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          (() => {
            'use strict'
            const forms = document.querySelectorAll('.needs-validation')
            Array.from(forms).forEach(form => {
              form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }
                form.classList.add('was-validated')
              }, false)
            })
          })()
        </script>
{% endblock %}
